/* #616d79 steel blue
/* #65c6bb turquoise
/* #00a9e5 bright turquoise
/* #f27935 orange
/* #b15a45 rusty red
/*
/* #acacac dark gray
/* #bbbdc0 med gray
/* #ebebeb light gray
/* #f5f5f5 off-white

*/

body {
  background-color: #ffffff;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #616d79;
  position: relative;
}

header a, header a:hover, header a:visited {color: #ffffff;}

footer {
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
}

footer p {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
}

/**********************/
/* general typography */
/**********************/

body {
  color: #616d79;
  font-family: 'Source Sans Pro', 'Myriad', sans-serif;
  font-weight: 300; /*light*/
}

h2,h3,h4,h5 {font-weight: 300;}

h1 {font-size: 22px;}
h2 {font-size: 18px; color: #00a9e5;}
h3 {font-size: 16px; color: #333; text-transform: uppercase; font-weight: 600;}


form input::-webkit-input-placeholder {font-style: italic;}
form input::-moz-placeholder { font-style: italic; }
form input:-ms-input-placeholder { font-style: italic; }

label {color: #bbbdc0; text-transform: uppercase; font-weight: 300;}

/**********************/
/* utilties & helpers */
/**********************/

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.no-margin {margin: 0;}
.no-padding {padding: 0;}

.allcaps {text-transform: uppercase;}

.row-padded-10 {padding-top: 10px; padding-bottom: 10px;}
.row-padded-20 {padding-top: 20px; padding-bottom: 20px;}
.row-padded-30 {padding-top: 30px; padding-bottom: 30px;}
.row-grey, .light-grey {background-color: #ebebeb;}
.row-medgrey, .med-grey {background-color: #bbbdc0;}
.row-white {background-color: #ffffff;}
.row-steelblue, .steelblue {background-color: #616d79; color: #fff;}

hr.divider {
  width: 100%;
  border-top: 2px solid #ebebeb;
}
.arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.arrow-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
}

.arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
}



/************************/
/* page specific styles */
/************************/

.index .logo, .register .logo, .register_welcome .logo, .forgot_password .logo, .respond_to_challenge .logo {
  /* margin-bottom: 50px; */
  width: 30%;
  max-width: 150px;
}

.profile_setup .logo {
  width: 30px;
  margin-right: 10px;
  margin-top: -5px;
}


.logotext, .logotext-sm {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.logotext {
  text-align: center;
}

.logotext-sm {
  font-size: 16px;
}

.profile-nav {color: orange}
.profile-nav, .profile-nav * {
  line-height: 14px;
  height: 14px;
}
.profile-nav .glyphicon {
  margin-left: 3px;
  color: #fff;
  font-size: 7px;
}

.profile-nav .notifications {
  display: block;
  float: left;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #f27935;
  margin-top: 0;
  margin-right: 5px;

  text-align: center;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
}



/* register forms */

.register-form {}
.register-form label {
  font-weight: 300;
  text-transform: uppercase;
  color: #acacac;
}


/* respond to challenge */

#respond-to-challenge pre {
  font-family: 'Source Sans Pro', 'Myriad', sans-serif;
  font-weight: 400; /*light*/
  color: #3E3E40;
  background-color: #fff;
  font-style: italic;
}

#respond-to-challenge .challenge-goal h4 { font-size: 22px; color: #f27935; margin-left: 5px;}
#respond-to-challenge .challenge-goal p {font-size: 14px; margin-left: 5px; margin-bottom: 0;}
#respond-to-challenge .challenge-goal p:first-child {margin-top: 15px;}

#guest-list {}
#guest-list h3 {font-weight: 300; color: #616d79;}
#guest-list h5 { text-transform: uppercase; font-size: 12px; margin: 0;}
#guest-list .guest-list-summary {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
#guest-list .guest-list-summary > div {
  padding-top: 5px;
  padding-bottom: 5px;
}
#guest-list .guest-list-summary .invited { background-color: #65c6bb; }
#guest-list .guest-list-summary .accepted { background-color: #00a9e5; }
#guest-list .guest-list-summary .declined { background-color: #b15a45; }

#guest-list-search-result .accepted { color: #00a9e5; }
#guest-list-search-result .declined { color: #b15a45; }
#guest-list #table-sort {display: none;}



/* profile setup */

.profile-setup-steps { margin-bottom: 40px;}

.profile-setup-steps h3 {
  margin: 10px 0;
}

.step-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
}
.step-wrap li {
  float: left;
}
.circle-step {
  display: block;
  border-radius: 50%;
  background-color: #acacac;
  width: 65px;
  height: 65px;
  margin-top: -15px;
  margin-bottom: -15px;
  border: 10px solid #ebebeb;

  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 42px;
  color: #fff;
}

.circle-step:focus, .circle-step:hover {
  color: #fff;
  text-decoration: none;
}

li.active .circle-step {
  background-color: #00a9e5 !important;
}

.profile-personal-info label {
  font-weight: 500;
  color: #00a9e5;
}


/* profile - manage/add trackers */

.connected-trackers {
  list-style: none;
  background-color: #fff;
  padding: 5px;
}

.connected-trackers li, .device-list li {
  padding: 10px;
}

.connected-trackers img, .device-list img {
  width: 48px;
  margin-left: 10px;
  margin-right: 10px;
}

.device-list {
  list-style: none;
  background-color: #ebebeb;
  padding: 0;
}
.device-list li {
  border-bottom: 5px solid #fff;
}

.device-list img , .device-list h3 {
  margin-left: 20px;
}
.device-list h3 {color: #00a9e5; margin-bottom: 0;}






/********************/
/* dashboard groups */
/********************/

.past-challenges {
  background-color: #616d79;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}
.past-challenges h2 { color: #fff; text-transform: uppercase;}

.past-challenges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.past-challenges a {color: #fff;}




/* stats */

#personal-stats, #challenge-stats, #team-stats {
  text-align: center;
  margin: 5px 0;
}
#personal-stats h3, #challenge-stats h3, #team-stats h3 {font-weight: 300;}

#personal-stats, #team-stats, #challenge-stats .primary-stats {background-color: #ebebeb;}
#challenge-stats {background-color: #fff;}

.stat-header {
  background-color: #999;
  color: #fff;
  padding: 10px;
}
.stat-header h4 {
  margin: 0
}

.primary-stats p {
  font-size: 12px;
}

.burn-circle, .donate-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #FFF;
  margin: 10px auto 0 auto;
}
.arrow-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #acacac;
  border: 4px solid #FFF;
  margin: 35px auto 0 auto;
}
@media (max-width: 420px) {.arrow-circle {margin-left: -4px}}
@media (max-width: 340px) {.burned, .donated {padding-left: 10px; padding-right: 10px;}}

.burn-circle, #challenge-stats .burned {background-color: #f27935;}
.donate-circle, #challenge-stats .donated {background-color: #65c6bb;}

.burn-circle img, .donate-circle img,  .arrow-circle svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  max-height: 50%;
  max-width: 50%;
}

.arrow-circle svg path {
  fill: #fff;
}


#personal-stats h3 {margin:5px 0}

.burned h3 {color: #f27935;}
.donated h3 {color: #65c6bb;}

.substats {
  background-color: #fff;
  color: #bbbdc0;
  display: block;
}

.substats table {
  width: 100%;
}

.substats table td {width: 50%; padding: 10px 20px; border-bottom: 2px solid #ebebeb;}
.substats table td:first-child {border-right: 2px solid #ebebeb;}


.substats svg {width: 35px; height: 35px; float:left; margin-top: 10px;}
.substats svg path, .substats svg polygon {fill: #acacac;}
.substats h4, .highcharts-container h4 {color:#616d79; margin-bottom: 0;}
.substats h4 span, .highcharts-container span {color: #bbbdc0; font-size: 13px; font-weight: 300}


#expanded-stats, #expanded-team-stats {display: none;}

.show-more p { margin-bottom: 3px;}
.show-more  {
  color: #fff;
  padding-bottom: 5px;
}



/* team stats */

.burn-diamond, .donate-diamond {
  width: 70px;
  height:70px;
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  margin: 30px auto 20px auto;
  border-radius: 10px;
  border: 3px solid #fff;
}

.burn-diamond {background-color: #f27935;}
.donate-diamond {background-color: #65c6bb;}

.burn-diamond img, .donate-diamond img {
  position: relative;
  top: 50%;
  max-height: 50%;
  max-width: 50%;
}
.burn-diamond img {
  -webkit-transform: rotate(-45deg) translateY(-50%) translateX(60%); /* Chrome, Safari, Opera */
  transform: rotate(-45deg) translateY(-50%) translateX(60%);
}
.donate-diamond img {
  -webkit-transform: rotate(-45deg) translateY(-40%) translateX(30%); /* Chrome, Safari, Opera */
  transform: rotate(-45deg) translateY(-40%) translateX(30%);
}
#team-stats .arrow-circle {margin-top: 42px;}

@media only screen and (max-width: 420px) {
  #team-stats .substats > div, #challenge-stats .substats > div  {padding-left: 5px; padding-right: 5px;}
}
@media only screen and (max-width: 320px) {
  #team-stats .substats > div, #challenge-stats .substats > div {padding-left: 0; padding-right: 0;}
}

#team-stats .substats h4,
#challenge-stats .substats h4 {font-size: 14px; display: inline-block;}

#team-stats .substats h4 span,
#challenge-stats .substats h4 span {font-size: 10px;}

#team-stats .substats svg,
#challenge-stats .substats svg {
  margin-top: 0;
  -webkit-transform: scale(.6);
  transform: scale(.6);
}

#team-stats .team-sync, #challenge-stats .group-sync {
  padding: 10px 0;
  font-size: 10px;
  text-align: left;
}

#team-stats .team-sync span, #challenge-stats .group-sync span {font-size: 12px;}

/* challenge stats */

#challenge-stats h3, #challenge-stats p {color: #fff}

#challenge-stats .primary-stats {position: relative;}

#challenge-stats .burned {
  border-top: 1px solid white;
  border-right: 2px solid white;
}

#challenge-stats .donated {
  border-top: 1px solid white;
  border-left: 2px solid white;
}

#challenge-stats .burned img {
  margin-top: 30px;
}
#challenge-stats .donated img {
  margin-top: 62px;
}

#challenge-stats .arrow-circle {
  position: absolute;
  top: 72px;
  left: 50%;
  margin: 0;
  margin-left: -20px;
  background-color: #fff;
  border:none;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,.6);
  -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,.6);
  box-shadow: 0px 0px 0px 4px rgba(255,255,255,.6);
}
#challenge-stats .arrow-circle svg path { fill: #65c6bb; }



/* challenge progress chart */

.challenge-progress-message {padding: 5px; background-color: #ebebeb;}
.challenge-progress-message.progress-ahead {color: #65c6bb;}
.challenge-progress-message.progress-behind {color: #b15a45;}

.challenge-progress-chart {
  background-color: #ffffff;
  /*   height:120px */
}
.challenge-progress-chart .chart-bar-wrap {
  border-right:2px solid #ebebeb;
  padding-right: 0;
  padding-bottom: 120px;
  height: 100%;
}

.challenge-progress-chart .chart-bar {
  position: absolute;
  top: 40px;
  left: 0;
  height: 40px;
}

.challenge-progress-chart .chart-ticks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top:60px;
  left: 0;
  width: 100%;
}

.challenge-progress-chart .chart-ticks ul li {
  float: left;
  height: 25px;
  border-left: 1px solid #ebebeb;
}
.challenge-progress-chart .chart-ticks ul li:nth-child(odd) {
  height: 30px;
}

.challenge-progress-chart .bar-fill-bg {
  border-radius: 20px;
  background-color: #ebebeb;
  width:100%;
}

.challenge-progress-chart .bar-fill-days, .challenge-progress-chart .bar-fill-progress {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.challenge-progress-chart .bar-fill-days { background-color: #00a9e5; }
.challenge-progress-chart .bar-fill-progress.progress-behind { background-color: #b15a45; }
.challenge-progress-chart .bar-fill-progress.progress-ahead { background-color: #65c6bb; }

.challenge-progress-chart .chart-label {
  height: 200%;
  position: absolute;
  left: 100%;
  border-left: 1px solid;
  font-size: 18px;
}

.challenge-progress-chart .chart-label span {
  position: absolute;
  left: 3px;
  width: 3em;
  text-align: left;
}

.challenge-progress-chart .chart-label-left span {
  left: -3.3em;
  text-align: right;
}

.challenge-progress-chart .bar-fill-progress .chart-label span { top: 0; }
.challenge-progress-chart .bar-fill-days .chart-label span { bottom: 0; }

.challenge-progress-chart .bar-fill-days .chart-label {
  border-left-color: #00a9e5;
  color: #00a9e5;
  font-size: 10px;
  text-transform: uppercase;
}

.challenge-progress-chart .bar-fill-progress.progress-behind .chart-label {
  border-left-color: #b15a45;
  color: #b15a45;
  bottom: 0;
}
.challenge-progress-chart .bar-fill-progress.progress-ahead .chart-label {
  border-left-color: #65c6bb;
  color: #65c6bb;
  bottom: 0;
}

.challenge-goal {
  text-align: left;
  font-size: 12px;
}
.challenge-goal h4 {margin: 0; color: #333}
.challenge-goal span {margin-top: 35px; display: block;}

.highcharts-container .highcharts-data-labels > div {
  left: 0 !important;
}



/* leaderboards */

.leaderboard-wrapper {
  background-color: #ebebeb;
  padding-top: 10px;
  margin-bottom: 20px;
}


/* leaderboard table */
table.leaderboard {
  background-color: #ebebeb;
  text-align: left;
  font-size: 12px;
  width: 100%;
}
table.leaderboard td:first-child {
  font-size: 16px;
  text-align: center;
  padding-right: 5px;
}

table.leaderboard th {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
}

table.leaderboard tr {}

table.leaderboard td {
  padding: 3px;
}

table.leaderboard .user td {
  color: #fff !important;
  background-color: #00a9e5  !important;
}

table.leaderboard .user td:first-child {
  color: #f27935 !important;
  background-color: #fff !important;
}

.leaderboard-filters {
  background-color: #616d79;
  color: #fff;
  font-weight: 200;
  padding: 3px;
}
.leaderboard-filters #table-sort {
  margin: 5px;
}
.leaderboard-filters #table-search {
  color: #616d79;
  width: 25%;
  margin: 5px;
}
.leaderboard-filters #table-search input {
  font-size: 12px;
  line-height: 24px;
  height: 24px;
}
.leaderboard-filters #table-search .glyphicon {
  line-height: 24px;
}

/*******************/
/* countdown timer */
/*******************/

.countdown-timer {
  background-color: #f27935;
  padding: 20px 0 40px;
  margin-top: 20px;
}
.countdown-timer h3 {color: #fff;}

.digit {
  float: left;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-right: 20px;
  position: relative;
}
.digit:last-child {margin-right: 0;}


.digit > div {
  background-color: #d5672f;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  font-size: 32px;
  font-weight: 300;
  line-height: 55px;
}

.digit.days:after, .digit.hours:after {
  content: ':';
  font-weight: 300;
  position: absolute;
  top: 0;
  right: -11px;
  font-size: 22px;
  line-height: 55px;
}




/******************/
/* general styles */
/******************/

a.glyphicon:hover {text-decoration: none;}

th {background-color: #bbbdc0; font-weight: 300; color: #333;}

.highcharts-container{width:100% !important; height:100% !important;}

.organization .logo {
  /*max-height: 100px;*/
  /*max-width: 500px;*/
}

/* responsive extras & overrides */

@media (max-width: 768px) {
  .container, .container-fluid {padding:0}
  .row {margin-left:0 !important; margin-right: 0 !important;}
}

@media (min-width: 768px) {
  .substats table td {padding: 10px 75px;}
}

@media (min-width: 992px) {
  .substats table td {padding: 10px 150px;}
}

@media (min-width: 1200px) {

}



/* bootstrap overrides & addons */

.btn {
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}
.btn-primary {background-color: #00a9e5;}
.btn-default {background-color: #bbbcd0;}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.sm-gutters {
  margin-right: 5px;
  margin-left: 5px;
}
.row.sm-gutters > [class^="col-"],
.row.sm-gutters > [class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.container-inner {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.container-inner:before, .container-inner:after
{
  display: table;
  content: " ";
}
.container-inner:after {clear: both;}

@media (min-width: 768px) {
  .container-inner {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-inner {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-inner {
    width: 1170px;
  }
}
.modal-body {padding-left: 0; padding-right: 0;}

.form-control-input
{
  height: 48px !important;
  font-size: 15px !important;
}
