<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <a><b>AdminDashboard</b></a>
      </div>
      <div class="col-md-2 col-md-offset-4 col-xs-6">
        <div class="pull-right profile-nav">
          <a>Sohaib Nehal</a> | <a ng-click="signout()">logout</a>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-default" style="padding-top: 30px; padding-bottom: 20px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <select class="form-control" ng-model="currentEventId" ng-options="event._id as event.name for event in allEvents" ng-change="showEvent()">
          <option value="">-- Select an event --</option>
        </select>
        <button type="button" class="btn btn-default" style="float: right; margin: 10px" ng-click="newEventView();">Create new</button>
        <button type="button" class="btn btn-default" style="float: right; margin: 10px">Show Participants</button>

      </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container">
  <div style="height: 500px" ng-show="currentView.welcome">
    <div class="row" style="background-color: #F8F8F8;width: 100%;height: 100%;">
      <div class="col-lg-12">
        <h1>Welcome to Admin Dashboard</h1>
      </div>
    </div>
  </div>

  <div ng-show="currentView.mainevent">
    <div class="row" style="background-color: #F8F8F8;width: 100%;height: 100%;">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h1>Create/Edit Event</h1>
        <form class="form-signin">
          <label>Event Name</label>
          <input type="text" class="form-control" placeholder="Name of event" required autofocus ng-model="eventData.name">
          <br>
          <label>Upload Logo</label>
          <img src="{{eventData.logoURL}}" ng-show="eventData.logoURL" style="width: 100px; height: 100px; margin-bottom: 5px"/>
          <br>
          <input type="file" id="fileInput">
          <br>
          <label>Description</label>
          <input type="text" class="form-control" placeholder="Description" required autofocus ng-model="eventData.description">
          <br>
          <label>Event Code</label>
          <input type="text" class="form-control" placeholder="Event Code" required autofocus ng-model="eventData.code">
          <br>
          <label>Color Theme</label>
          <br>
          <input type="color" placeholder="Color Theme" required autofocus ng-model="eventData.colorTheme">
          <br>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <label>Start Date and Time</label>
              <div class="input-group">
                <input type="date" class="form-control" required ng-model="eventData.startDate">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-calendar" style="padding: 4px;"></span>
                  </button>
                </span>
              </div>
              <br>
              <label>End Date and Time</label>
              <div class="input-group">
                <input type="date" class="form-control" required ng-model="eventData.endDate">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-calendar" style="padding: 4px;"></span>
                  </button>
                </span>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="input-group" style="margin-top: 24px; margin-bottom: 42px;">
                <input type="time" class="form-control" ng-model="eventData.startTime" required>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-time" style="padding: 4.5px;"></span>
                  </button>
                </span>
              </div>
              <div class="input-group">
                <input type="time" class="form-control" ng-model="eventData.endTime" required>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-time" style="padding: 4px;"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <br><br>


          <div class="row text-center">
            <button class="btn btn-primary" type="submit" ng-click="createEvent()" ng-hide="currentEventId">Create</button>
            <button class="btn btn-primary" type="submit" ng-click="updateEvent()" ng-show="currentEventId">Update</button>
            <button class="btn btn-primary" type="submit">Close</button>

          </div>
          <br>
          <br>
        </form>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>


</div>
