
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <a><b></b></a>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
  <div class="container">
    <div class="row row-padded-20">
      <div class="col-md-12 text-center">
        <h2>Welcome!</h2>
        <p>Login and enjoy!</p>
      </div>
    </div>
    <form method='post'><input type='hidden' name='form-name' value='form 1' />
      <p class="text-center">{{message}}</p>
      <div class="row row-grey row-padded-20">
        <div class="col-md-4 col-md-offset-4">

          <div class="input-group form-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control form-control-input" id="InputEmail" placeholder="Enter email" required autofocus ng-model="signindata.email" ng-disabled="invitationCode.length"/>
          </div>

          <div class="input-group form-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-asterisk"></i></span>
            <input type="password" class="form-control form-control-input" id="InputPassword" placeholder="Password" required autofocus ng-model="signindata.password">
          </div>
          <img class="center-block" src="../images/spinner.gif" ng-show="showspinner">
          <p style="color: red" ng-show='signinerr'>Please enter valid email and password</p>
        </div>
      </div>
      <div class="row row-padded-20">
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-primary btn-lg center-block" ng-click="signin();" >LOGIN</button>
        </div>
      </div>
    </form>
  </div>

  <div id="loaderDiv" ng-show="screenLoading">
    <img src="../images/spinner.gif" class="ajax-loader"/>
  </div>
</div>
